<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>form </title>
    <link rel="stylesheet" href="/form.css"> 
</head>
<body>
    <form method="post" action="/posts" enctype="multipart/form-data">
        <h1>Create your post</h1>
        <input type="text" placeholder="username" name="username">
        <br>
        <textarea placeholder="content" name="content"></textarea><br>
        <input type="number" placeholder="likes" name="likes" value="0"><br>
        <input type="number" placeholder="comments" name="comments" value="0"><br>
        <input type="file" name="image" accept="image/*" required>
        <button>submit</button>
    </form>
</body>
</html>